{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 90,
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "auto",
    "trailingComma": "all",
    "arrowParens": "avoid"
}