body {
  margin: 0;
}

.custom_popover_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.custom_popover_content button {
  width: 100%;
  height: 36px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-wrap: pretty;
  background-color: #e9e9e9;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom_popover_content button:hover {
  background-color: #1010fc;
  color: #fff;
}
.select-label {
  color: #808088;
  line-height: 24px;
}
